.cta-btn {
  line-height: 50px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #0f1e42;
  border-radius: 5px;
  background: #ffffff;
  position: relative;
  padding: 0 27px;
}

.cta-btn:hover {
  background: #258aff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.cta-btn:hover img {
  filter: brightness(0) invert(1);
}
.talkBtn img {
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
